@model Vidly.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = Model.Action + " Customer";
}

<div style="max-width: 500px; margin-inline: auto;">
    <h2>@Model.Action Customer</h2>

    @using (Html.BeginForm("Save", "Customers"))
    {
        <div class="form-group mb-3">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(m => m.Birthdate)
            @Html.TextBoxFor(m => m.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Birthdate)
        </div>
        <div class="form-group mb-3">
            @Html.LabelFor(m => m.MembershipTypeId)
            @Html.DropDownListFor(m => m.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), new { @class = "form-select" })
            @Html.ValidationMessageFor(m => m.MembershipTypeId)
        </div>
        <div class="form-check mb-3">
            @Html.LabelFor(m => m.IsSubscribedToNewsletter)
            @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter, new { @class = "form-check-input" })
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}